<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= locals.title %></h1>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <strong><%= message.user %>:</strong> <%= message.text %>
        <em>(<%= message.added.toLocaleString() %>)</em>
      </li>
      <% }); %>
    </ul>
    <form action="/new" method="post">
      <input type="text" name="messageUser" placeholder="Your name" />
      <input type="text" name="messageText" placeholder="Your message" />
      <input type="date" name="messageDate" placeholder="Date (optional)">
      <button type="submit">Send</button>
    </form>
  </body>
</html>
